<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @post.title %>
</p>
<div class="tate-area">
  <% block = @post.body.split(/ /) %>
  <div class="tate-line">
    <%= block[0] %>
  </div>
  <div class="tate-line">
    <%= block[1] %>
  </div>
  <div class="tate-line">
    <%= block[2] %>
  </div>
</div>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
