<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head >
  <title>Tategaki</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "tate-style", :media => "all" %>
  <%= javascript_include_tag "application" %>
</head>
<body>
  <div id='header'>
    <%= render :partial => 'layouts/header' %>
  </div>
  <div id='wrapper'>
    <div id='menu'>
      <%= render :partial => 'layouts/menu' %>
    </div>
    <div id='contents'><%= yield %></div>
    <div class='clear'></div>
  </div>
  <div id='footer'>
    <%= render :partial => 'layouts/footer' %>
  </div>
</body>
</html>
