<html>
<head >
  <title>Tategaki</title>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render :partial => 'layouts/header' %>
  <%= yield %>
  <%= render :partial => 'layouts/menu' %>
  <%= render :partial => 'layouts/footer' %>
</body>
</html>
